{% extends "layout.html" %}

{% block theme_content %}
<div class="container">
    <div class="row">
        <div class="col text-center text-success">
            <h2>{{ _('Event submitted successfully!') }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>{{ _('Thank you for your contribution! Your event will soon be reviewed by our team and displayed on this timeline.') }}</p>
        </div>
    </div>
</div>
{% endblock %}