{% macro render(title, variable, description='', items=[], level='countries') -%}
<div class="row justify-content-center">
    <div class="col-12 col-md-10">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ title }}</h5>
                <p class="card-text">{{ description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col"><span>{{ _('Place') }}</span></div>
                        <div class="col text-center"><span>{{ variable }}</span></div>
                        <div class="col text-center"><span>{{ _('Link to report') }}</span></div>
                    </div>
                </li>
                {% for splace in items %}
                <li class="list-group-item" style="background-color: {{ '#eee' if (loop.index%2) else '#fff' }};">
                    <div class="row">
                        <div class="col"><span>{{ splace[0] }}</span></div>
                        <div class="col text-center">
                            <span>{{ "{:,.2f}".format(splace[1]) if splace[1]%1 else "{:,.0f}".format(splace[1]) }}</span>
                        </div>
                        <div class="col text-center"><span><a class="card-link"
                                    href="{{ url_for('place', place=splace[0], level = level) }}">{{ _('See Report') }}</a></span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{%- endmacro %}